python-dotenv
requests
edge-tts
SpeechRecognition
streamlit
pyaudio
Pillow
cohere
google-generativeai
groq
mistralai
pymongo
mysql-connector-python
streamlit-monaco
langchain
langchain-community
langchain-text-splitters
langchain-chroma
chromadb
sentence-transformers
pypdf